[INPUT/OUTPUT]
MODEL_DIR=./DATA/results/results_distilbert_base_uncased_1epoch_warmup_cpsv_ap_relations/epoch_35_Thu_Mar_17_102144_2022_0b379d1ea5dc11ec9aba0242ac1a0002
INPUT_FILE=./DATA/cpsv_ap_relations/validation.jsonl
OUTPUT_FILE=./DATA/cpsv_ap_relations/test_predict_distilbert_base_uncased_1epoch_warmup_cpsv_ap_relations.jsonl
LABELS = labels

[MODEL_INFERENCE_CONFIGURATIONS]
BATCH_SIZE=1
GPU=0
TOP_N=10