[INPUT/OUTPUT]
MODEL_DIR=./DATA/results/results_distilbert_base_uncased_1epoch_warmup_cpsv_ap_relations/epoch_35_Tue_Mar_15_152702_2022_5d3e04cca47411ec9e850242ac1a0002
INPUT_FILE=./DATA/cpsv_ap_relations/validation.jsonl
OUTPUT_FILE=./DATA/cpsv_ap_relations/test_predict_distilbert_base_uncased_1epoch_warmup_cpsv_ap_relations.jsonl
LABELS = labels

[MODEL_INFERENCE_CONFIGURATIONS]
BATCH_SIZE=1
GPU=0
TOP_N=10