[INPUT/OUTPUT]
INPUT_DIR = /work/data/relation_extraction/title_classifier
PREPROCESSED_DATA_DIR= ./DATA/preprocessed_title_classifier

# Not used yet
LABEL_INPUT = text
LABELS = label_names

[PREPROCESSING_CONFIGURATIONS]
# https://huggingface.co/distilbert-base-multilingual-cased
MODEL_NAME_OR_PATH=distilbert-base-multilingual-cased
