[INPUT/OUTPUT]
INPUT_DIR = /work/data/relation_extraction/title_classifier
PREPROCESSED_DATA_DIR = /work/src/BERT_classifier/DATA/preprocessed_title_classifier
# Not used yet
LABEL_INPUT = text
LABELS = label_names

OUTPUT_DIR=/work/src/BERT_classifier/MODELS/results_title_classifier


[MODEL_CONFIGURATIONS]
# https://huggingface.co/distilbert-base-multilingual-cased
MODEL_NAME_OR_PATH=distilbert-base-multilingual-cased

BATCH_SIZE=4
EPOCHS=36
INITIAL_LEARNING_RATE=5e-5
WARM_UP=True
SAVE_MODEL_EACH=1
GPU=0
