[INPUT/OUTPUT]
PREPROCESSED_DATA=./DATA/preprocessed_distilbert_base_uncased_cpsv_ap_relations
OUTPUT_DIR=./DATA/results/results_distilbert_base_uncased_1epoch_warmup_cpsv_ap_relations

[MODEL_TRAINING_CONFIGURATIONS]
MODEL_NAME_OR_PATH=distilbert-base-uncased
BATCH_SIZE=4
EPOCHS=36
INITIAL_LEARNING_RATE=5e-5
WARM_UP=True
SAVE_MODEL_EACH=1
GPU=0