FUSEKI_ENDPOINT = http://gpu1.crosslang.com:3030/C4C_demo/query
FUSEKI_LOGIN=
FUSEKI_PASS=

# Elastic search
ES_LOGIN =
ES_PASSW =

### Term extraction
# URL of term extraction API
# TERM_EXTRACTION = http://turing:7001 should work
TERM_EXTRACTION =
CONTACT_CLASSIFICATION =

# Context broker
URL_ORION = http://orion:1026